body{
    margin-top: 100px;
}
.section-1{
background:url('https://kidzapp.com/images/blog-banner.jpg');
height: 100px;
background-size: cover;
}
.search-bar{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 32px;
}
.back-btn a{
    text-decoration: none !important;
    color: black;
    
}
.back-btn h5{
    padding-top: 10px;
}
.last-section{
    padding: 15px 0px 15px 0px;
}