.footer{
    background-color: #002240 ;
    /* background-color:lightgray; */
    color:white;
padding-top: 10px;
padding-bottom: 10px;

}
.footer li{
    list-style: none;
}
 .img1{
    width: 150px;
}
.img2{
    width: 250px;
    margin: -54px 0px 0px -50px;

}
.nav-link{
    display: contents;
    color: white;
}
.livechat{
    margin-left: 85%;
    width: 180px;
    }
.animate__animated.animate__rubberBand.animate__infinite {
        --animate-duration: 2s;
       --animate__infinite:	infinite;
       --animate-delay: 0.9s;
       --animate__fast:	800ms;
      }